pympler==0.5
requests==2.19.1

# Ethereum dependencies
ipaddress==1.0.22
bitcoin==1.1.42
coincurve==11.0.0
pycryptodome==3.6.4
cffi==1.12.2
rlp==0.6.0
csiphash==0.0.5

# TODO: plan future work to remove this package
bloxroute-pyelliptic==1.5.10
