pympler==0.5
requests==2.19.1

# Ethereum dependencies
ipaddress==1.0.22
bitcoin==1.1.42
coincurve==11.0.0
pycryptodome==3.6.4
cffi==1.12.2
rlp==0.6.0

# TODO: either fork this branch in case it gets taken down and plan future work to remove this package
https://github.com/mfranciszkiewicz/pyelliptic/archive/1.5.10.tar.gz#egg=pyelliptic

