pympler==0.8
requests==2.22.0

# Ethereum dependencies
ipaddress==1.0.22
cffi==1.12.2
csiphash==0.0.5
aiohttp==3.7.3
web3>=5.11.1, <=5.13.1

# TODO: plan future work to remove this package
bloxroute-pyelliptic==1.5.10
