version: 2.1

executors:
  bloxroute-executor:
    docker:
    # TODO: Use AWS repository or create bloXroute account on Docker Hub
    - image: circleci/python:3.8
    environment:
      PYTHONPATH: /home/circleci/ws/bxcommon/src:/home/circleci/ws/bxgateway/src:/home/circleci/ws/bxextensions:/home/circleci/ws/bxcommon-internal/src/
    working_directory: ~/ws

jobs:
  initialize:
    executor: bloxroute-executor
    working_directory: ~/ws
    steps:
      - attach_workspace:
          at: ~/ws
      - checkout:
          path:
            "bxgateway"
      - run: # install and activate virtual environment with pip
          command: |
            cd ~/ws
            python -m virtualenv venv
      - run:
          name: clone bxextensions dependency
          command: |
            { # try
                echo "Trying to clone identical branch name '$CIRCLE_BRANCH' from bxextensions."
                git clone -b $CIRCLE_BRANCH --single-branch --depth=1 --recursive git@github.com:bloXroute-Labs/bxextensions-private.git bxextensions
            } || { # catch
                echo "Trying bxextensions master branch, could not find identical branch name '$CIRCLE_BRANCH'."
                git clone -b master --single-branch --depth=1 --recursive git@github.com:bloXroute-Labs/bxextensions-private.git bxextensions
            }
            cd bxextensions
            echo "$(git rev-parse HEAD)" > ~/ws/ext_tmp_file
      - run:
          name: install dependencies
          command: |
            sudo apt update &&
            sudo apt install build-essential automake autogen autoconf libtool libtool-bin libssl-dev cmake linux-headers-amd64
      - run:
          name: install bxcommon
          command: |
             cd ~/ws/bxgateway
             branchName=$(git rev-parse --abbrev-ref HEAD)

             cd ~/ws
             { # try
                 echo "Trying to clone identical branch name '$branchName' from bxcommon."
                 git clone -b $branchName --single-branch --depth=1 git@github.com:bloXroute-Labs/bxcommon-private.git bxcommon
             } || { # catch
                 echo "Trying bxcommon master branch, could not find identical branch name '$branchName'"
                 git clone -b master --single-branch --depth=1 git@github.com:bloXroute-Labs/bxcommon-private.git bxcommon
             }
             cd bxcommon
             bxcommonBranch=$(git rev-parse --abbrev-ref HEAD)
             echo "Resolved branch $bxcommonBranch for bxcommon."
      - run:
          name: install bxcommon-internal
          command: |
             cd ~/ws/bxgateway
             branchName=$(git rev-parse --abbrev-ref HEAD)

             cd ~/ws
             { # try
                 echo "Trying to clone identical branch name '$branchName' from bxcommon-internal."
                 git clone -b $branchName --single-branch --depth=1 git@github.com:bloXroute-Labs/bxcommon-internal.git bxcommon-internal
             } || { # catch
                 echo "Trying bxcommon-internal master branch, could not find identical branch name '$branchName'"
                 git clone -b master --single-branch --depth=1 git@github.com:bloXroute-Labs/bxcommon-internal.git bxcommon-internal
             }
             cd bxcommon-internal
             bxcommonInternalBranch=$(git rev-parse --abbrev-ref HEAD)
             echo "Resolved branch $bxcommonInternalBranch for bxcommon-internal."
      - restore_cache: # restores saved dependency cache
          key: bxextensions-{{ checksum "~/ws/ext_tmp_file" }}
      - restore_cache: # restores saved dependency cache
          key: bxgateway-{{ checksum "bxgateway/requirements.txt" }}-{{ checksum "bxgateway/requirements-dev.txt"}}-
            {{ checksum "bxcommon/requirements.txt"}}-{{ checksum "bxcommon/requirements-dev.txt"}}-\
            {{ checksum "bxcommon/requirements-optional.txt"}}
          
      - run: # install and activate virtual environment with pip
          name: installing virtual env
          command: |
            . venv/bin/activate
            pip install -r bxgateway/requirements.txt \
              -r bxgateway/requirements-dev.txt \
              -r bxcommon/requirements.txt \
              -r bxcommon/requirements-dev.txt \
              -r bxcommon/requirements-optional.txt
      - run:
          command: |
            . venv/bin/activate
            cd bxextensions
            python build_extensions.py
      - save_cache: # special step to save dependency cache
          key: bxextensions-{{ checksum "~/ws/ext_tmp_file" }}
          paths:
            - bxextensions
      - save_cache: # special step to save dependency cache
          key: bxgateway-{{ checksum "bxgateway/requirements.txt" }}-{{ checksum "bxgateway/requirements-dev.txt"}}-\
            {{ checksum "bxcommon/requirements.txt"}}-{{ checksum "bxcommon/requirements-dev.txt"}}-\
            {{ checksum "bxcommon/requirements-optional.txt"}}
          paths:
            - venv

      - persist_to_workspace:
          root: .
          paths:
            - venv
            - bxcommon
            - bxcommon-internal
            - bxgateway
            - bxextensions
  check:
    executor: bloxroute-executor
    working_directory: ~/ws
    steps:
      - attach_workspace:
          at: ~/ws
      - run:
          name: Lint Score
          command: |
            . venv/bin/activate
            cd bxgateway
            # The || exit 0 bypasses not failing the build for <10 score
            pylint src/bxgateway --msg-template="{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}" --rcfile=../bxcommon/pylintrc || exit 0
      - run:
          name: Static Analysis
          command: |
            . venv/bin/activate
            cd bxgateway
            # remove dev configuration
            rm .pyre_configuration
            pyre --local-configuration .pyre_configuration.circle check
  test:
    executor: bloxroute-executor
    steps:
    - attach_workspace:
        at: ~/ws
    - run:
        name: Fix venv issue
        command: |
          python -m virtualenv dummy-env
    - run:
        name: Unit Tests
        command: |
          . venv/bin/activate
          cd bxgateway/test/unit
          python -m unittest discover --verbose
    - run:
        name: Integration Tests
        command: |
          . venv/bin/activate
          cd bxgateway/test/integration
          python -m unittest discover --verbose
    - run:
        name: Check Coverage
        command: |
          . venv/bin/activate
          cd bxgateway/test/unit
          coverage run --source=/home/circleci/ws/bxgateway/src -m unittest discover && coverage report --fail-under=01
    - store_artifacts:
        path: test-reports/
        destination: tr1
  e2e:
    executor: bloxroute-executor
    steps:
      - attach_workspace:
          at: ~/ws
      - checkout:
          path:
            "bxgateway"
      - run:
          name: Fix venv issue
          command: |
            python -m virtualenv dummy-env
      - run:
          name: Try to clone corresponding branches
          command: |
            cd ~/ws
            { # try
                echo "Trying to clone identical branch name '$CIRCLE_BRANCH' from bxgateway."
                git clone -b $CIRCLE_BRANCH --single-branch --depth=1 git@github.com:bloXroute-Labs/bxe2e.git
            } || { # catch
                echo "Trying bxe2e master branch, could not find identical branch name '$CIRCLE_BRANCH' in bxrelay."
                git clone -b master --single-branch --depth=1 git@github.com:bloXroute-Labs/bxe2e.git
            }
            { # try
                echo "Trying to clone identical branch name '$CIRCLE_BRANCH' from bxgateway."
                git clone -b $CIRCLE_BRANCH --single-branch --depth=1 git@github.com:bloXroute-Labs/bxrelay.git
            } || { # catch
                echo "Trying bxrelay master branch, could not find identical branch name '$CIRCLE_BRANCH  in bxrelay."
                git clone -b master --single-branch --depth=1 git@github.com:bloXroute-Labs/bxrelay.git
            }
      - run:
          name: Initialize virtualenv
          command: |
            . venv/bin/activate
            pip install -r bxrelay/requirements.txt \
              -r bxrelay/requirements-dev.txt \
              -r bxcommon/requirements-optional.txt
      - run:
          name: Integration Test
          command: |
            . venv/bin/activate
            cd bxe2e/test/integration
            PYTHONPATH=$PYTHONPATH:/home/circleci/ws/bxe2e/src:/home/circleci/ws/bxrelay/src \
            python -m unittest discover --verbose

  build:
    working_directory: ~/ws
    docker:
      - image: docker:19.03.8
    steps:
      - setup_remote_docker:
          version: 19.03.8
      - attach_workspace:
          at: ~/ws
      - checkout:
          path:
            "bxgateway"
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              py-pip=18.1-r0 git
            pip install \
              docker-compose==1.12.0 \
              awscli==1.11.76
      - restore_cache:
          keys:
            - v1-{{ .Branch }}-{{ checksum "~/ws/bxgateway/requirements.txt" }}-{{ checksum "~/ws/bxcommon/requirements.txt" }}
          paths:
            - /caches/app.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/app.tar | true
      - run:
          name: create binaries for docker image
          command: |
            cd ~/ws/bxextensions
            . ./build.sh
            cd ~/ws
      - run:
          name: Build application Docker image
          command: |
            cd ~/ws/bxgateway && docker build -f Dockerfile --cache-from=app -t app ../
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/app.tar app
      - save_cache:
          key: v1-{{ .Branch }}-{{ checksum "~/ws/bxgateway/requirements.txt" }}-{{ checksum "~/ws/bxcommon/requirements.txt" }}
          paths:
            - /caches/app.tar
workflows:
  version: 2

  test-build:
    jobs:
      - initialize
      - build:
          requires:
            - initialize
          filters:
            branches:
              only: master
      - check:
          requires:
            - initialize
      - test:
          requires:
            - initialize
      - e2e:
          requires:
            - initialize
